#include <iostream>
#include <fstream>
using namespace std;
static const char zbnd[] = "abcdefghijklmnopqrstuvwzyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%~/-,^&*.><?";
int size = sizeof(zbnd) - 1;
int main() {
    ofstream passwordfile("password.txt");
    int len;
    cin >> len;
    for (int k = 0; k < len; k++)
{
    cout << zbnd[rand() % ::size];
}
cout << endl << "Password Generated!!!!!!";
return 0;
